{% extends "base.html" %}

{% block main %}
    <body>
        <h3>{{ account.accountName }}</h3>
        <table>
            <tr>
                <th><h4>Current Balance:</h4></th>
            </tr>
            <tr>
                <td><h1>$ {{ account.balance|floatformat:"2" }}</h1></td>
            </tr>
        </table>

        <details>
            <summary>
                Account Details
            </summary>
            <p>
            <table>
                <tr>
                    <th>Account Name</th>
                    <th>Account Owner</th>
                    <th>Account Number</th>
                </tr>
                <tr>
                    <td>{{ account.accountName }}</td>
                    <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
                    <td>{{ account.id }}</td>
                </tr>
            </table>
            </p>
        </details>

        <h3>Latest Transactions</h3>

        {% if movements %}
        <table>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            {% for movement in movements %}
            <tr>
                <td>{{ movement.createdAt|date:"d-m-Y" }}</td>
                <td><a href="{% url 'bank_app:movement_details' movement.pk %}">{{ movement.text }}</a></td>
                <td>$ {{ movement.amount }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not movements %}
        <p>Any activity on your account will be shown here.</p>
        {% endif %}
    </body>
{% endblock main %}
