{% extends "base.html" %}

{% block main %}
<body>
    <h3>Create User</h3>
    <form action="{% url 'bank_app:create_customer' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {{ new_user_form }}
            <br />
            {{ new_customuser_form }}
            <button>Create User</button>
        </fieldset>
    </form>
</body>
{% endblock main %}
