{% extends "base.html" %}

{% block main %}
<body>
    <h3>{{ title }}</h3>
    <p>{{ error }}</p>
    <h3>Create Account</h3>
    <form action="{% url 'bank_app:create_account' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form }}
            <button>Create Account</button>
        </fieldset>
    </form>
</body>
{% endblock main %}
{% block footer %}
{% endblock footer %}
