{% extends "base.html" %}

{% block main %}
<h3>Welcome to your overview, {{ user.user.first_name }}.</h3>
<h4>User Details</h4>
<table>
    <tr>
        <th>Full Name</th>
        <td>{{ user.full_name }}</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>{{ user.rank.name }}</td>
    </tr>
</table>

{% if accounts %}
<h4>Accounts</h4>
<table>
    <tr>
        <th>Description</th>
        <th>Balance</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.accountName }}</a></td>
        <td>$ {{ account.balance|floatformat:"2" }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if loans %}
<h4>Loans</h4>
<table>
    <tr>
        <th>Description</th>
        <th>Balance</th>
    </tr>
    {% for loan in loans %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' loan.pk %}">{{ loan.accountName }}</a></td>
        <td>$ {{ loan.balance|floatformat:"2" }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock main %}
