{% extends "base.html" %}

{% block main %}
<h3>Create Transfer</h3>
<h4>Which type of account would you like to transfer to?</h4>
<div>
    <li><a href="{% url 'bank_app:make_transfer' %}"><button>Between Own Accounts</button></a></li>
    <li><a href="#"><button>Omega Bank Account</button></a></li>
    <li><a href="{% url 'bank_app:bank_to_bank_transfer' %}"><button>External Bank Account</button></a></li>
</div>

<h4>Transfer to another account in Omega Bank:</h4>
<form action="{% url 'bank_app:internal_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <button>Transfer</button>
    </fieldset>
</form>
{% endblock main %}
