{% extends "base.html" %}

{% block main %}
<body>
    <h3>Summary of Movement Details</h3>
    <table>
        <tr>
            <th>Amount</th>
            <td>$ {{ movement.amount }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ movement.text }}</td>
        </tr>
        <tr>
            <th>Account</th>
            <td>{{ movement.account.accountName }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ movement.createdAt|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ movement.pk }}</td>
        </tr>
    </table>
</body>
{% endblock main %}
