{% extends "base.html" %}

{% block main %}
<h3>Search</h3>
<fieldset>
    <label>Find customer</label>
    <input name="search"
           placeholder="Search for customer"
           class="form-control"
           type="text"
           hx-post="{% url 'bank_app:staff_search' %}"
           hx-trigger="keyup changed delay:500ms"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator"
    />
    {% csrf_token %}
</fieldset>

<table>
    <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>E-mail</th>
    </thead>
    <tbody id="search-results"></tbody>
</table>

{% endblock main %}
