{% for customer in customers %}
<tr>
    <td><a href="{% url 'bank_app:staff_customer_view' customer.pk %}">{{ customer.full_name }}</a></td>
    <td>{{ customer.phone }}</td>
    <td>{{ customer.user.email }}</td>
</tr>
{% endfor %}
