{% extends "base.html" %}

{% block main %}
<h4>Customer Details</h4>
<table>
    <tr>
        <th>Full Name</th>
        <td>{{ user.full_name }}</td>
    </tr>
    <tr>
        <th>Member since</th>
        <td>{{ user.user.date_joined }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ user.phone }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{{ user.user.email }}</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>
            <select name="rank_value" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% for rank in ranks %}
                {% if rank.name == user.rank.name %}
                <option value="{{ rank }}" selected>{{ rank.name }}</option>
                {% else %}
                <option value="{{ rank }}">{{ rank.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>Is Active</th>
        <td>
            <select name="active_value" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <option value="{{ user.isActive }}">{{ user.isActive }}</option>
                {% if user.isActive == True %}
                <option value="False">False</option>
                {% else %}
                <option value="True">True</option>
                {% endif %}
            </select>
        </td>
    </tr>
</table>

{% if accounts %}
<h4>Customer Accounts</h4>
<table>
    <tr>
        <th>Description</th>
        <th>Balance</th>
        <th>Status</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.accountName }}</a></td>
        <td>$ {{ account.balance|floatformat:"2" }}</td>
        <td>
            <select name="remove_account_{{ account.pk }}" hx-target="body" hx-confirm="Are you sure you want to make this account inactive?" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <option selected>Active</option>
                <option value="{{ account.pk }}">Inactive</option>
            </select>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if loans %}
<h4>Customer Loans</h4>
<table>
    <tr>
        <th>Description</th>
        <th>Balance</th>
        <th>Status</th>
    </tr>
    {% for loan in loans %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' loan.pk %}">{{ loan.accountName }}</a></td>
        <td>$ {{ loan.balance|floatformat:"2" }}</td>
        <td>
            <select name="remove_account_{{ loan.pk }}" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <option selected>Active</option>
                <option value="{{ loan.pk }}">Inactive</option>
            </select>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock main %}
