{% extends "base.html" %}

{% block main %}
<form action="{% url 'bank_app:take_loan' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <button>Apply for Loan</button>
    </fieldset>
</form>
{% endblock main %}
