<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name='Omega Bank' content='Welcome to Omega Banking.' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"/>
        <title>Omega Bank – Transaction Details</title>
    </head>
    <body>
        <h2>Omega Bank – Transaction Details</h2>
        <hr/>
        <h3>Summary of your transaction:</h3>
        <table>
            <tr>
                <th>Amount</th>
                <td>$ {{ debit.amount }}</td>
            </tr>
            <tr>
                <th>Debit Account</th>
                <td>{{ debit.account.accountName }}</td>
            </tr>
            <tr>
                <th>Debit Description</th>
                <td>{{ debit.text }}</td>
            </tr>
            <tr>
                <th>Credit Account</th>
                <td>{{ credit.account.accountName }}</td>
            </tr>
            <tr>
                <th>Credit Description</th>
                <td>{{ credit.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ debit.createdAt|date:"d-m-Y" }}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ debit.pk }}</td>
            </tr>
        </table>
        <footer>
            <a href="{% url 'bank_app:customer_portal' %}"><button>Back to Overview</button></a>
            <a href="{% url 'logout' %}"><button>Log Out</button></a>
            <table>
                <tr>
                    <td><p>Omega Bank Global</p></td>
                    <td><p>Copenhagen · Denmark</p></td>
                    <td><p>Copyright 2023</p></td>
                </tr>
            </table>
        </footer>
    </body>
</html>

