<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name='Omega Bank' content='Welcome to the world of Omega Banking.' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
        {% load static %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>Omega Bank</title>
    </head>

    <body>
        <header>
            {% if user.is_staff %}
            <h2>Omega Bank – Staff Portal</h2>
            {% else %}
            <h2>Omega Bank – Customer Portal</h2>
            {% endif %}
        </header>
        <br />
        <hr />
        <nav>
            {% if user.is_staff %}
            <a href="{% url 'bank_app:staff_portal' %}"><button>Search</button></a>
            <a href="{% url 'bank_app:create_customer' %}"><button>Create User</button></a>
            <a href="{% url 'bank_app:create_account' %}"><button>Create Account</button></a>
            <a href="{% url 'bank_app:staff_approve_loans' %}"><button>Approve Loans</button></a>
            {% elif not user.is_staff %}
            <a href="{% url 'bank_app:customer_portal' %}"><button>Overview</button></a>
            <a href="{% url 'bank_app:make_transfer' %}"><button>Create Transfer</button></a>
            <a href="{% url 'bank_app:create_account' %}"><button>Create Account</button></a>
            {% if user.rank.value >= 20 %}
            <a href="{% url 'bank_app:take_loan' %}"><button>Apply for Loan</button></a>
            {% endif %}
            {% if "movement" in request.path %}
            <a href="{% url 'bank_app:account_details' movement.account.id %}"><button>Go back to {{ movement.account.accountName }}</button></a>
            {% endif %}
            {% endif %}
        </nav>
        <hr />
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <footer>
            <a href="{% url 'logout' %}"><button>Log Out</button></a>
            <table>
                <tr>
                    <td><p>Omega Bank Global</p></td>
                    <td><p>Copenhagen · Denmark</p></td>
                    <td><p>Copyright 2023</p></td>
                </tr>
            </table>
        </footer>
        <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>
