<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name='Omega Bank' content='Welcome to Omega Banking.' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    {{ content }}
</body>
</html>
